body {margin-top:0px;margin-left:0px;margin-bottom:0px;margin-right:2px;background-color:#101010}

a  {
color:#ffe620;
}

a:hover{color:#c5d5d5}

a.articlelist {color:#485978; font-size:1.07em; font-family:monospace}
a.articlelist:hover{color:#c5d5d5}

a.sectionlink {color:#485978; font-size:1.15em; font-family:sans-serif; font-weight:700}
a.sectionlink:hover{color:#c5d5d5}

a.intable{color:#aca4f6}
a.intable:hover{color:#c5d5d5}

ul {margin-left:10px; margin-right:10px; padding-right:40px}
li {margin-bottom:3px; list-style-position: inside}

img {max-width: 100%}
img.link {vertical-align:middle}

a.apple{text-decoration: none; color: black;}

a.apple:hover{color: grey;}

#center {
width:96%;
margin-left:2%;
margin-right:2%;
border:0;
padding-top:25px;
padding-bottom:8px;
color:#FFFFFF;
text-align:center;
font-family:sans-serif;
display:inline-block;
}

h2 {
font-style: italic;
color:#313131;
}

h3 {
color:#7352E6;
}

h4 {
color:#aca4f6;
}

em {
font-weight:700;
color:#C5D5D5;
}

em.hrec {
font-weight:700;
font-style:italic;
color:lime;
}

em.rec {
font-weight:700;
color:greenyellow;
font-style:normal;
}

em.srec {
font-weight:500;
color:yellow;
font-style:normal;
}

em.nrec {
font-weight:400;
color:orange;
font-style:normal;
}

em.avoid {
font-weight:700;
color:red;
font-style:italic;
}

q,blockquote {
font-style:italic;
color:#C5D5D5;
}

#articlelist {
width:95%;
margin-top:20px;
font-family:Sans;
text-align:center;
padding:5px;
display:inline-block;
}

table {
border:solid 1px #f8f8f8;
}

td {
border: solid 1px #f8f8f8;
padding-left:8px;
padding-right:8px;
padding-top:0px;
padding-bottom:0px;
background-color:#313131;
color:#f8f8f8;
}

.toprow {
background-color:#101010;
color:#f8f8f8;

}

p {
margin-left:10px;
margin-right:10px;
}


// Chandelier

